<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>教师页面管理成绩</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui-v2.6.8/css/layui.css}" media="all">
    <script th:src="@{/layui-v2.6.8/layui.js}"></script>
    <style>
        .layui-table th, .layui-table td {
            /*表头内容居中显示*/
            text-align: center;

            color: #000;
        }
    </style>
</head>
<body>
<div style="margin: 80px auto; padding: 0 100px">
    <div class="layui-inline">
        <table id="tea-grade" lay-filter="test"></table>
        <script type="text/html" id="barDemo">
            <button class="layui-btn layui-btn-xs" lay-event="release" id="release">保存</button>
        </script>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <a class="layui-btn layui-btn-xs" lay-event="release" id="back" href="release-course">返回</a>
            </div>
        </script>
    </div>
</div>
<script th:inline="none">
    var info = sessionStorage.getItem("info")
    var t = JSON.parse(info);
    console.log(info)
    layui.use('table', function () {
        var table = layui.table;
        var $ = layui.$;

        //第一个实例
        table.render({
            elem: '#tea-grade'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: 'false'  //隐藏头部工具栏右侧图标
            , height: 'full-360'
            // ,cellMinWidth: 200
            , url: '/academic/getStudent' //数据接口
            , where: {
                cno: t.cno,
                tname: t.tname,
                mname: t.mname,
                tid: t.tid,
                mid: t.mid,
                class_id: t.class_id
            }
            , cols: [[ //表头
                {field: 'cno', title: '课程号', width: 150, sort: true,}
                , {field: 'cname', title: '课程名称', width: 200}
                , {field: 'tname', title: '任课老师', width: 150}
                , {field: 'mname', title: '专业', width: 200}
                , {field: 'class_name', title: '班级', width: 150}
                , {field: 'sid', title: '学号', width: 200}
                , {field: 'sname', title: '姓名', width: 150}
                , {field: 'grade', title: '成绩', width: 100, edit: 'text'}
                , {fixed: 'right', title: '管理', width: 150, align: 'center', toolbar: '#barDemo'}
            ]]
            , page: true
            , limits: [10, 20, 30]  //一页选择显示3,5或10条数据
            , limit: 10  //一页显示10条数据
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据，res为从url中get到的数据
                var result;
                console.log(this);
                console.log(JSON.stringify(res));
                if (this.page.curr) {
                    result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                } else {
                    result = res.data.slice(0, this.limit);
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": result //解析数据列表
                };
            }
        });

        //监听工具条
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            layer.confirm('确定保存吗？',
                {
                    btn: ['确认', '取消']
                    , btn1: function (index, layero) {
                        $.ajax({
                            url: "/academic/changeGrade",
                            data: {cno: data.cno, tid: t.tid, sid: data.sid, grade: data.grade}
                        })
                        layer.alert('保存成功');
                        console.log(data);
                        layer.close(index)
                    }
                })
        });

    });
</script>
</body>
</html>